<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<title>Title</title>
</head>
<body>
<div class="banner2">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
			    <div class="border-left border-warning">
				<div class="border-right border-warning">
                <div class="banner2-title text-center text-dark">
				    <hr class="bg-warning">
				    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZxlECUzK_QAy2FP-fR1w2_r_fDAjHJz3Kaw&usqp=CAU" class="img-fluid" alt="Responsive image">
                    <h2 class="display-4">Taj Mahal Indian Menu</h2>
                    <hr class="bg-warning">
				</div>
                </div>
            </div>
			</div>
        </div>
    </div>

</div>


   <div class="menu">

    <div class="container gap shadow-lg mik">
	    <div class="row">
            <div class="col-3">

            </div>
            <div class="col-sm-6 col-xs-12 text-center"> 
                <div class="my-3"><a href="" class="btn btn-info btn-lg btun border-0" style="width:420px; padding: 24px; background-color: green">Lunch Menu</a></div>
                <div class="my-3"><a href="" class="btn btn-info btn-lg btun border-0" style="width:420px; padding: 20px; background-color: aqua">Dinner Menu</a></div>
                </div>
                <div class="col-3">
                </div>
        </div>
		<div class="col-2"></div>
        <div class="row">

            <div class="col-12">

                <div class="menu-title text-center mb-5">
                <br><br><br>
                    <h3 class="display-4 text-danger rok2"> AUTHENTIC INDIAN CUISINE</h3>
                    <p class="my-4">Gluten Free Dishes - AVAILABLE UPON REQUEST</p>
                </div>
            </div>

            <div class="col-8 ">
                    <h3 class="text-danger">ONION BHAJEE</h3>
                    <p>A tasty traditional indian starter deep-fried and garnished with lettuce, fresh lemon and tomato</p>
                         <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">6.00</p>
            </div>

            
            <div class="col-8 ">        
                    <h3 class="text-danger">VEGETABLE SAMOSA</h3>
                    <p>Pastry filled with fresh veg and fried, served with coriander and chilli sause</p>
                    <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">4.50</p>

            </div>

            <div class="col-8 ">
                    
                    <h3 class="text-danger">LAMB BIRYANI</h3>
                         <p>A medium spiced dish of spring lamb, fried rice, nuts and side sauce - a celebration dish </p>
                             <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">15.00</p>
            </div>

            <div class="col-8 ">
                    <h3 class="text-danger">VEGETABLE MADRAS WITH PILAU RICE</h3>
                             <p>A hot dish served with pilau rice and fresh vegetables. Seasoned with coriander.</p>
                             <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">12.50</p>
            </div>

            <div class="col-8 ">
                    <h3 class="text-danger">CHICKEN TIKKA MASALA WITH BOILED RICE</h3>
                    <p>A mild dish to suit all palates</p>
                    <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">14.00</p>
            </div>

            <div class="col-8 ">    
                    <h3 class="text-danger">CHICKEN ROGAN JOSH WITH PILAU RICE</h3>
                         <p>A house favorite, this is cooked in a tomato based sauce, onions and fresh garlic</p>
                             <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">14.00</p>
            </div>
            <div class="col-8 ">
                    <h3 class="text-danger">LAMB BALTI WITH BOILED RICE</h3>
                             <p>A medium spiced curry cooked with lots of fresh garlic, carrots, peppers and onions.</p>
                             <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">14.80</p>
            </div>

            <div class="col-8 ">
                    <h3 class="text-danger">LAMN VINDALOO WITH NAAN BREAD</h3>
                    <p>Devilishly hot tradtional curry - only eaten by the bravest! Served with freshly baked wheaten naan bread.</p>
                    <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">15.30</p>
            </div>
            <div class="col-8 ">
                    <h3 class="text-danger">KULFI ICE CREAM</h3>
                         <p>Home-made delicious Indian ice cream topped with almond nuts.</p>
                             <hr class=" my-4 ">
            </div>
            <div class="col-2"></div>

            <div class="col-2">
                    <p class="font-weight-bold mt-5 euro">7.00</p>
            </div>
            <div class="col-2"></div>
            </div>
        </div>
        <hr class="my-4"> 
    </div>
   </div>



   <div class="social">
        <div class="container gap3 shadow-lg">
            <div class="row">


                <div class="col-xs-12 col-md-4">

                   <div class="social-left text-center">

                       <h3 class="display-4 my-4 rok2">Book Early!</h3>
                       <p class="my-4">  Email: tajmahal22@gmail.com</p>

                        <p class="my-4">  www.tajMahalIndianRest.ie</p>

                       <a href="#"><i class="fab fa-facebook-square"></i></a> 
                       <a href="#"><i class="fab fa-instagram"></i></a> 
                       <a href="#"> <i class="fab fa-twitter"></i></a>


                        <input type="text" name="news" id="news" class="form-control form-control-lg my-4" placeholder="Newsletter">
                        <a href="#" style="text-decoration:none;">Contact No: +353851237775</a>

                        <div class="row">
                            <div class="col-md-12 text-center mb-4 mt-4">
                                   <i class="fab fa-uber" style="font-size: 100px;width: 100%; color: rosybrown;padding: 10px;"></i>

                            </div>

                            <div class="col-md-12">
                                   <i class="fas fa-rss-square"></i>

                            </div>
                            <div class="col-md-12">
                                   <i class="fas fa-audio-description"></i>

                               </div>
                               <div class="col-md-12">
                                       <i class="fab fa-youtube"></i>

                                   </div>
                        </div>
                   </div>
                </div>


                <div class="col-sm-12 col-md-4 mb-4">
                   <div class="social-middle text-center">
                       <h2 class="my-4 display-4 rok2">Opening Hours</h2>
                      
                       <h3 class="text-danger">Monday - Thursday</h3>
                       <p class="my-4">12:00 PM - 10:30 PM</p>
                       <h3 class="text-danger">Friday</h3>
                       <p>12:00 PM - 11:30 PM</p>
                       <h3 class="text-danger">Saturday</h3>
                       <p>11:30 AM - 11:30 PM </p>
                   </div>
                   </div>
            </div>
        </div>
   </div>


     <footer>

           <div class="container">
               <p>  Tel. +252851237774 <span style="border-right:2px solid #6F7275; padding:5px;"></span> Email: tajmahal22@gmail <span style="border-right:2px solid #6F7275; padding:5px;"></span> O'Connell street, Dublin 1, Ireland</p>
           </div>
      
      </footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</body>
</html>